bin
build
build-resources/private
src-build
dist
version

*.ods
*.o
*.pyc
*~
*.directory
*.DS_Store
*.swp
*.class

*.aux
*.lof
*.log
*.lot
*.out
*.synctex*
*.toc
/manual/*.pdf

/FCCStationPacking/SATsolvers/clasp/claspx64osx/build
/bin
/Arguments
/deliverable
lib/redis-client/*.class
lib/redis-client/example_answer.csv
dump.rdb



